:root{
    --primary: #fd377e;
    --primary-2: #e34981;
    --secondary: #03b898;

    --grey-1: #f8f9fa;
    --grey-2: #e9ecef;
    --grey-3: #868e96;
    --grey-4: #212529;

    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Inter', sans-serif;

    --weight-1: 700;
    --weight-2: 400;
    --weight-3: 500;

    --size-1: 22px;
    --size-2: 16px;
    --size-3: 12px;
    --size-4: 38px;

    --heigh-1: 34px;
    --heigh-2: 30px;
    --heigh-3: 26px;
    --heigh-4: 22px;
}

.dark:root{
    --grey-4: #f8f9fa;
    --grey-3: #e9ecef;
    --grey-2: #868e96;
    --grey-1: #212529;
}